<section class="alt-section section-work">
    {{ with .Site.Data.work.title }}<h2 id="work">{{ . }}</h2>{{ end }}

    <!--
    <center>Click an image for more info</center>
    -->

    {{ range .Site.Data.work.installations }}
    <input type="radio" name="trigger" class="trigger" id="{{ .folder }}" />
    {{ end }}
    <input type="radio" name="trigger" id="return" class="return" />
    <div class="work-belt">
        <div class="thumb-wrap">
            <div class="thumb-container">
                {{ range .Site.Data.work.installations }}
                <label for="{{ .folder }}">
                    <div class="thumb-unit" data-folder="{{ .folder }}">
                        <img src="img/installations/{{.folder}}/thumb.jpg" alt="{{ .name }}" />
                    </div>
                    <div class="thumb-overlay">
                        <strong>{{ .name }}</strong>
                    </div>
                </label>
                {{ end }}
            </div>
        </div>
        <div class="work-wrap">
            <div class="work-container">
                <label for="return">
                    <div class="work-return">{{ partial "icons/icon-back.html" . }}</div>
                </label>
                <h4 class="installation-title"></h4>
                <div class="installation-load"></div>
                <noscript>
                    {{ range .Site.Data.work.installations }}
                    <div class="noscript" id="content-{{ .folder }}">
                        <h4 class="installation-title">{{ .name }}</h4>
                    </div>
                    {{ end }}
                </noscript>
            </div>
        </div>
    </div>
</section>
